.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 10px;
  grid-row: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--bg-fixed);
  color: white;
  z-index: 1000;
}
.header .main-header {
  display: flex;
  justify-content: space-around;
}
.header .main-header button {
  background-color: inherit;
}
.filters {
  margin: auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.pagination {
  grid-row: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: white;
  background-color: var(--bg-fixed);
}

.pagination button {
  background-color: inherit;
}

.list-content,
.msg-or-err {
  grid-row: 2;
  height: 100%;
  padding: 150px 10px 40px 10px;
}
.msg-or-err {
  padding-top: 170px;
  text-align: center;
  font-size: 2em;
  color: var(--bg-fixed);
}

.products-grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
}
.product-card {
  background-color: var(--electric-violet);
  padding: 10px;
  color: var(--green);
  border-radius: 1em;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}
.product-card h3 {
  font-weight: 700;
}
.product-image {
  margin: auto;
  object-fit: contain;
  border-radius: 4px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
