*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  background-color: var(--bg-general);
}

.header,
.pagination {
  position: fixed;
  background-color: var(--bg-fixed);
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: white;
}
.header {
  top: 0;
  text-align: center;
}
.pagination {
  bottom: 0;

  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list-content {
  padding-top: 150px;
  padding-bottom: 70px;
}

.products-grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: calc(4 * 250px + 3 * 20px);
  margin-inline: auto;
  grid-template-rows:
    minmax(3rem, auto)
    minmax(4rem, auto)
    auto
    auto;
}
.product-card {
  background-color: var(--electric-violet);
  padding: 10px;
  color: var(--green);
  border-radius: 1em;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.product-image {
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 0.75rem;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
