.main-container {
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-general); */
}

.header,
.pagination {
  position: fixed;
  background-color: var(--bg-fixed);
  z-index: 1000;
  padding: 20px;
  width: 100%;
  color: white;
}
.header {
  top: 0;

  .main-header {
    display: flex;
    justify-content: space-around;

    button {
      background-color: inherit;
    }
  }
}
.filters {
  margin: auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.pagination {
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list-content,
.msg-or-err {
  padding-top: 170px;
  padding-bottom: 100px;
  height: 100%;
}

.products-grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: calc(4 * 250px + 3 * 20px);
  margin-inline: auto;
  grid-template-rows:
    minmax(3rem, auto)
    minmax(4rem, auto)
    auto
    auto;
}
.product-card {
  background-color: var(--electric-violet);
  padding: 10px;
  color: var(--green);
  border-radius: 1em;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.product-image {
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 0.75rem;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.msg-or-err {
  margin-top: 100px;
  text-align: center;
  /* color: white; */
  font-size: 2em;
}
