.main-container {
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-general); */
}

.header,
.pagination {
  position: fixed;
  background-color: var(--bg-fixed);
  z-index: 1000;
  padding: 20px;
  width: 100%;
  color: white;
}
.header {
  top: 0;
}
.pagination{
  display: flex;
  align-items: center;
}
.header .main-header {
  display: flex;
  justify-content: space-around;
}

.header .main-header button {
  background-color: inherit;
}
.pagination button {
  background-color: inherit;
}
.filters {
  margin: auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.pagination {
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list-content,
.msg-or-err {
  padding-top: 170px;
  padding-bottom: 100px;
  height: 100%;
}
.msg-or-err {
  text-align: center;
  font-size: 2em;
}

.products-grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;

  max-width: calc(4 * 250px + 3 * 20px);
  margin-inline: auto;
}
.product-card {
  background-color: var(--electric-violet);
  padding: 10px;
  color: var(--green);
  border-radius: 1em;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.product-image {
  margin: auto;
  object-fit: contain;
  border-radius: 4px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
