.image-preview {
  display: flex;
  justify-self: center;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: var(--bg-general);
  color: white;
  padding: 20px;
  border-radius: 1em;
  label {
    display: grid;
    grid-template-columns: 1fr 2fr;

    input,
    textarea,
    select {
      border: none;
      border-radius: 0.6em;
    }
  }
  p {
    margin: 0;
    margin-left: 100px;
  }
  button {
    padding: 10px;
    border-radius: 1em;
  }
}
