h1{
  text-align: center;
  margin-top: 20px;
}

.image-preview {
  display: flex;
  justify-self: center;
  padding: 20px;
}

form {
  display: grid;
  width: 50%;
  margin: auto;
  gap: 20px;
  background-color: var(--bg-general);
  color: white;
  padding: 20px;
  border-radius: 1em;


}
