.edit-create-container {
  height: 100vh;
}
h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  margin: 0;
}

.image-preview {
  display: flex;
  justify-self: center;
  padding: 10px;
}

form {
  display: grid;
  width: 50%;
  margin: auto;
  gap: 5px;
  background-color: var(--electric-violet);
  color: white;
  padding: 20px;
  border-radius: 1em;
}
