.edit-create-container {
  height: 90vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  margin: 0;
}

form {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  margin: auto;
  gap: 5px;
  background-color: var(--electric-violet);
  color: white;
  padding: 20px;
  border-radius: 1em;
}

.cancel {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 1em;
  border: none;
}
.cancel:hover {
  cursor: pointer;
}
